.container-wrapper {
  display: flex;
  justify-content: center;
  margin: 2rem;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}
.container-one {
  /* border: 1px solid black; */
  padding: 4rem 6rem;
  text-align: center;
  background: #009f9d;
  border-radius: 6px;
}
.container-one > h2 {
  margin: 0;
  color: #fff;
  margin-bottom: 1rem;
}
.container-two {
  /* border: 1px solid black; */
  padding: 4rem 6rem;
  background: #07456f;
  border-radius: 6px;
}
.container-two > h2 {
  margin: 0;
  color: #fff;
  margin-bottom: 1rem;
}
.container-three {
  /* border: 1px solid black; */
  padding: 4rem 6rem;
  background: #cdffeb;
  border-radius: 6px;
}
.container-three > h2 {
  margin: 0;
}
